/* --- Screen Sizes ---*/
:root {
    --small: 576px;
    --medium: 768px;
    --large: 992px;
    --extra_large: 1200px;
    
    /* --- Colors --- */
    --mainColor: #ff3e00;
    --mainBackgroundColor: #222429;
    --red: #ed1c0d;
    --orange: #ed7300;
    --purple: #663382;
    --blue: #3d8cde;
    --cyan: #00c9bf;
    --lily: #ffa3b5;
    --pink: #ff3363;
    --gold: #ffbf0f;
    --green: #87c70f;
    --black: #111;
    --slate: #222222;
    --gray: rgb(51, 51, 51);
    --lightGray: #404040;
    --silver: #888888;
    --egg: #f8f8f8;
    
    /* --- Fonts --- */
    --mainFont: 'IBM Plex Mono', monospace;

}
