@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Screen Sizes ---*/
:root {
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --extra_large: 1200px;
  
  /* --- Colors --- */
  --mainColor: #ff3e00;
  --mainBackgroundColor: #222429;
  --red: #ed1b2e;
  --orange: #ed7300;
  --purple: #663382;
  --blue: #3d8cde;
  --cyan: #00c9bf;
  --lily: #ffa3b5;
  --pink: #ff3363;
  --gold: #ffbf0f;
  --green: #87c70f;
  --black: #111;
  --slate: #222222;
  --gray: rgb(51, 51, 51);
  --lightGray: #404040;
  --silver: #888888;
  --egg: #f8f8f8;
  --white: #FFF;
  
  /* --- Fonts --- */
  --mainFont: 'IBM Plex Mono', monospace;

}

html {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #222429;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

canvas {
  width: 100vw;
  height: 100vh;
}

h2, h3, h4, h5, h6, p, span, a {
  font-family: "Funnel Sans", sans-serif;
}

.funnel-sans-font-family {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .gradient-text {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));

  --tw-gradient-to-position: 90%;
  --tw-gradient-via-position: 30%;
  --tw-gradient-stops: var(--tw-gradient-from), #0ea5e9 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-from: #6366f1 var(--tw-gradient-from-position);
  --tw-gradient-to: #10b981 var(--tw-gradient-to-position);

  background-clip: text;
  color: #0000;
  -webkit-background-clip: text;
} */


.gradient-text {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
/* 
  --tw-gradient-from-position: 40%;
  --tw-gradient-mid-start: 45%;
  --tw-gradient-mid-end: 55%;
  --tw-gradient-to-position: 60%;

  --tw-gradient-from: #FFF var(--tw-gradient-from-position);
  --tw-gradient-mid-1: #ED1B2E var(--tw-gradient-mid-start);
  --tw-gradient-mid-2: #ED1B2E var(--tw-gradient-mid-end);
  --tw-gradient-to: #FFF var(--tw-gradient-to-position);

  --tw-gradient-stops:
    var(--tw-gradient-from),
    var(--tw-gradient-mid-1),
    var(--tw-gradient-mid-2),
    var(--tw-gradient-to);

  background-clip: text;
  -webkit-background-clip: text; */
  /* color: transparent; */
  color: var(--white);
  line-height: 75px;
  font-weight: bold;
   -webkit-text-stroke: 1px var(--red); 
  /* Standard property (for future compatibility, less support currently) */
  text-stroke: 1px var(--red); 
}

.bg-primary { 
  background-color: var(--red);
}