@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Screen Sizes ---*/
:root {
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --extra_large: 1200px;
  
  /* --- Colors --- */
  --mainColor: #ff3e00;
  --mainBackgroundColor: #222429;
  --red: #ed1c0d;
  --orange: #ed7300;
  --purple: #663382;
  --blue: #3d8cde;
  --cyan: #00c9bf;
  --lily: #ffa3b5;
  --pink: #ff3363;
  --gold: #ffbf0f;
  --green: #87c70f;
  --black: #111;
  --slate: #222222;
  --gray: rgb(51, 51, 51);
  --lightGray: #404040;
  --silver: #888888;
  --egg: #f8f8f8;
  
  /* --- Fonts --- */
  --mainFont: 'IBM Plex Mono', monospace;

}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #222429;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace
}

canvas {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-to-position: 90%;
  --tw-gradient-via-position: 30%;
  --tw-gradient-stops: var(--tw-gradient-from), #0ea5e9 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-from: rgb(99, 102, 241) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(16, 185, 129) var(--tw-gradient-to-position);
  background-clip: text;
  -webkit-background-clip: text;
  /* color: rgb(250 250 250 / var(--tw-text-opacity)); */
}

h2, h3, h4, h5, h6, p, span, a {
  font-family: "Poppins", sans-serif;
}

.gradient-text {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));

  --tw-gradient-to-position: 90%;
  --tw-gradient-via-position: 30%;
  --tw-gradient-stops: var(--tw-gradient-from), #0ea5e9 var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-from: #6366f1 var(--tw-gradient-from-position);
  --tw-gradient-to: #10b981 var(--tw-gradient-to-position);

  background-clip: text;
  color: #0000;
  -webkit-background-clip: text;
}
